<section id="who-we-are">
  <div class="container inner-top inner-bottom-sm">
    
    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>Wild Foraged Plants</h1>
          <p>These plants are seasonal delicacies for you to use in your home cooking.  <br>With these plants you can discover a wide range of flavors unavailable in your local grocery store.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<section id="latest-works" class="light-bg">
  <div class="container inner">
   
    <div class="row">
      
      <% @products.each do |category, products| %>
        <h2 class="text-center"><%= category.name %><hr></h2>
        <ul>
          <% products.each do |product| %>
          <li>
            <div class="col-sm-6 inner-top-sm">
              <figure>
              
                <div class="icon-overlay icn-link">
                  <% if product.default_image %>
                    <%= image_tag product.default_image.path %>
                  <% end %>
                </div><!-- /.icon-overlay -->
                
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h3><%= link_to product.name, product_path(product.permalink) %></h3>
                    <p><%= product.short_description %></p>
                    <p><b>Price:</b> <%= number_to_currency product.price %></p>
                  </div><!-- /.info -->
                </figcaption>
                
              </figure>
            </div><!-- /.col -->
          </li>
          <% end %>
        </ul>
      <% end %>
      
    </div><!-- /.row -->
    
  </div><!-- /.container -->
</section>
